{% extends 'base_admin.html.twig' %}

{% set page_title = 'Order Details' %}

{% block main %}
    <div class="row">
        <div class="col-1">
        </div>
        <div class="col-7">
            <form method="post">
                <div class="form-group">
                    <label for="id">Id</label>
                    <input class="form-control" readonly type="text" id="id" value="{{ order.id }}">
                </div>
                <div class="form-group">
                    <label for="buyer_name">Buyer</label>
                    <input class="form-control" readonly type="text" id="buyer_name" value="{{ order.buyer }}">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input class="form-control" readonly type="text" id="phone" value="{{ order.phone }}">
                </div>
                <div class="form-group">
                    <label for="delivery_address">Delivery</label>
                    <input class="form-control" readonly type="text" id="delivery_address" value="{{ order.delivery }}">
                </div>
                <div class="form-group">
                    <label for="total">Total</label>
                    <input class="form-control" readonly type="text" id="total" value="{{ order.total }}">
                </div>
                <div class="form-group">
                    <label for="created_at">Created at</label>
                    <input class="form-control" readonly type="text" id="total" value="{{ order.createdAt.format('d/m/y h:i:s') }}">
                </div>

                {% if order.completedAt is not null %}
                <div class="form-group">
                    <label for="created_at">Completed at</label>
                    <input class="form-control" readonly type="text" id="total" value="{{ order.completedAt.format('d/m/y h:i:s') }}">
                </div>
                {% endif %}

                <h4>Goods included in the order</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>price</th>
                            <th>quantity</th>
                            <th>total per product</th>
                        </tr>
                    </thead>
                    {% for orderedProductDetails in order.jsonDecodedOrderDetails %}
                        <tr>
                            <td>{{ orderedProductDetails.id }}</td>
                            <td>
                                <img class="admin-product-order-details-image" alt="image" src="{{ asset('/images/products/' ~ orderedProductDetails.image) }}">
                                {{ orderedProductDetails.name }}
                            </td>
                            <td>{{ orderedProductDetails.price }}</td>
                            <td>{{ orderedProductDetails.quantity }}</td>
                            <td>{{ orderedProductDetails.quantity * orderedProductDetails.price }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="form-group">
                    <label for="status">Status</label>
                    <select class="form-control" id="status" name="status">
                        {% for status_id, status_name in statuses %}
                            <option {{ order.status == status_id ? 'selected' : '' }} value="{{ status_id }}">{{ status_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" href="{{ app.request.headers.get('referer') }}">Back</a>
            </form>
        </div>
    </div>
{% endblock %}
