{% extends 'base_admin.html.twig' %}

{% set page_title = 'Orders list' %}
{% set status_classes = {
    'new':'bg-warning',
    'viewed':'',
    'completed':'bg-success',
    'rejected':'bg-secondary'
} %}

{% block main %}
<div class="card-body">
    <div class="table">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <table
                            class="table table-bordered dataTable"
                            id="dataTable"
                            role="grid"
                            aria-describedby="dataTable_info"
                    >
                        <thead>
                        <tr role="row">
                            <th rowspan="1" colspan="1" aria-sort="ascending" >id</th>
                            <th rowspan="1" colspan="1" >Created At</th>
                            <th rowspan="1" colspan="1" >Name</th>
                            <th rowspan="1" colspan="1" >Address</th>
                            <th rowspan="1" colspan="1" >Phone</th>
                            <th rowspan="1" colspan="1" >Total</th>
                            <th rowspan="1" colspan="1" >Status</th>
                            <th rowspan="1" colspan="1" >Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            <tr role="row" class="odd {{ status_classes[statuses[order.status]] }}">
                                <td>{{ order.id }}</td>
                                <td>{{ order.createdAt.format('d/m/y h:i:s') }}</td>
                                <td>{{ order.buyer }}</td>
                                <td>{{ order.delivery }}</td>
                                <td>{{ order.phone }}</td>
                                <td>{{ order.total }}</td>
                                <td>{{ statuses[order.status] }}</td>
                                <td>
                                    <a class="btn btn-light" href="{{ path('admin_order_details', {'id':order.id}) }}">Details</a>
                                    <a class="btn btn-light" href="{{ path('admin_order_delete', {'id':order.id}) }}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item {% if not pagination.hasPrev %}disabled{% endif %}">
                                <a
                                        class="page-link"
                                        href="{{ path('admin_order_list', {'page':pagination.current - 1}) }}"
                                        tabindex="-1"
                                >Previous</a>
                            </li>
                            {% for number in range(1, pagination.total) %}
                            <li class="page-item {% if pagination.current == number %}active{% endif %}">
                                <a class="page-link" href="{{ path('admin_order_list', {'page':number}) }}">{{ number }}</a>
                            </li>
                            {% endfor %}
                            <li class="page-item {% if not pagination.hasNext %}disabled{% endif %}">
                                <a
                                        class="page-link"
                                        href="{{ path('admin_order_list', {'page':pagination.current + 1}) }}"
                                >Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
