/* Navbar */

.navbar-container {
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
}

.navbar-container .navbar {
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100%;
}

.navbar-container .navbar-collapse {
    align-items: flex-start;
}

.navbar-container .nav {
    flex-direction: column;
    flex-wrap: nowrap;
}

.navbar-container .navbar-nav {
    flex-direction: column !important;
}

/* Common */

.paragraph {
    margin: 10px;
}

/* Base */

.logo {
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100px;
}

.base-navbar {
    background-color: #e3f2fd;
}

/* Product */

.product {
    padding: 30px;
}

.product-cart-image {
    width: 30px;
    height: 40px;
}

.product-card-image {
    width: 300px;
    height: 400px;
}

.product-list-image {
    height: 200px;
}

.product-details {
    padding: 30px;
}

/* Delivery */

.delivery-form {
    width: 500px;
    margin: 10px;
}
