<h4>Goods included in your order</h4>

<table class="table">
    <thead>
    <tr>
        <th>#</th>
        <th>name</th>
        <th>price</th>
        <th>quantity</th>
        <th>total per product</th>
        {% if edit_cart_disabled is not defined %}
            <th>action</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% set counter = 1 %}
    {% for product in order_products %}
        <tr>
            <td>{{ counter }}</td>
            <td>
                <a href="{{ path('product', {'id': product.id}) }}">
                    <img class="product-cart-image" alt="image" src="{{ asset('/images/products/' ~ product.image) }}">
                    {{ product.name }}
                </a>
            </td>
            <td>{{ product.price }}$</td>
            <td>
                <input
                        {% if edit_cart_disabled is defined %} readonly {% endif %}
                        class="form-control"
                        type="number"
                        name="products[{{ product.id }}]"
                        value="{{ product.orderQuantity }}"
                        min="0"
                >
            </td>
            <td>{{ product.orderQuantity * product.price }}$</td>
            {% if edit_cart_disabled is not defined %}
                <td><a class="btn btn-danger" href="{{ path('delete_from_cart', {'id': product.id}) }}">Delete</a></td>
            {% endif %}
        </tr>
        {% set counter = counter + 1 %}
    {% endfor %}
    {% if edit_cart_disabled is not defined %}
        <tr>
            <td colspan="4"></td>
            <td>Total cost:</td>
            <td>{{ total_cost }}$</td>
        </tr>
    {% endif %}
    </tbody>
</table>