{% extends 'base_front.html.twig' %}

{% block main %}
    <form method="post">
        {{ include('front/cart/_order_products.html.twig') }}

        <div class="row">
            <div class="col-9">
            </div>
            <div class="col-3">
                <button class="btn btn-info" type="submit">Update</button>
                <a class="btn btn-primary" href="{{ path('cart_delivery') }}">Next >>></a>
            </div>
        </div>
    </form>
{% endblock %}
