{% extends 'base_front.html.twig' %}

{% block main %}
    {{ include('front/cart/_order_products.html.twig') }}

    <div class="row justify-content-center align-items-center" >
        <form class="delivery-form" method="post">
            <div class="form-group">
                <label for="name">Your name</label>
                <input required class="form-control" type="text" id="name" name="name">
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input required class="form-control" type="text" id="phone" name="phone">
            </div>

            <div class="form-group">
                <label for="delivery">Delivery address</label>
                <textarea required class="form-control" type="text" id="delivery" name="delivery"></textarea>
            </div>

            <div class="text-right">
                <b>Total cost: {{ total_cost }}$</b>
            </div>

            <div class="text-center">
                <a class="btn btn-primary" href="{{ path('cart_checkout') }}"><<< Back</a>
                <button type="submit" class="btn btn-danger">Confirm</button>
            </div>
        </form>
    </div>
{% endblock %}

