{% if unique_products_count %}
    You have {{ unique_products_count }} product(s) in the cart. Total cost: {{ total_cost }}$<br>
    <a href="{{ path('cart_checkout') }}">Go to cart</a>
{% else %}
    You have empty cart
{% endif %}