{% extends 'base_front.html.twig' %}

{% block main %}
    <div class="text-center">
        <div>
            <h2>Thank you for your order!</h2>
        </div>

        <div>
            Your order has been saved.<br>
            In the near future it will go into processing.<br>
            Our manager will contact you to clarify the details.<br>
            Your order number: <h3>{{ order.id }}</h3>
        </div>
    </div>
{% endblock %}
