{% extends 'base_admin.html.twig' %}

{% set page_title = 'Stats' %}

{% block main %}
    <div>
        Number of products: {{ number_of_products }}
    </div>
    <div>
        Number of new orders: {{ number_of_new_orders }}
    </div>
    <div>
        Last order:
        <a href="{{ path('admin_order_details', {'id': last_order.id}) }}">
            from `{{ last_order.buyer }}` at {{ last_order.createdAt.format('d/m/y h:i:s') }}
        </a>
    </div>
{% endblock %}
