<nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">Categories:</a>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            {% for category in categories %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('category', { 'slug':category.slug }) }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
