<div class="row">
    <div class="col-1">
    </div>
    <div class="col-6">
        <form method="post">
            {% if category is defined %}
                <div class="form-group">
                    <label for="id">Id</label>
                    <input class="form-control" readonly type="text" id="id" value="{{ category.id }}">
                </div>

                <div class="form-group">
                    <label for="slug">Slug</label>
                    <input class="form-control" readonly type="text" id="slug" value="{{ category.slug }}">
                </div>
            {% endif %}

            <div class="form-group">
                <label for="name">Category name</label>
                <input class="form-control" type="text" id="name" name="name" placeholder="Enter category name"
                       value="{{ category is defined ? category.name : '' }}">
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="enabled"
                       name="enabled" {{ category is defined ? (category.enabled ? 'checked' : '') : '' }}>
                <label class="form-check-label" for="enabled">Enable</label>
            </div>

            <div class="form-group">
                <label for="priority">Priority</label>
                <input class="form-control" type="number" id="priority" name="priority"
                       placeholder="Enter category priority" value="{{ category is defined ? category.priority : '' }}">
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-secondary" href="{{ path('admin_category_list') }}">Back to categories list</a>
        </form>
    </div>
</div>