{% extends 'base_admin.html.twig' %}

{% set page_title = 'Categories list' %}

{% block main %}
<div class="card-body">
    <div class="table">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-11">
                    <table class="table table-bordered dataTable" id="dataTable">
                        <thead>
                            <tr role="row">
                                <th rowspan="1" colspan="1" aria-sort="ascending">id</th>
                                <th rowspan="1" colspan="1">Name</th>
                                <th rowspan="1" colspan="1">Enabled</th>
                                <th rowspan="1" colspan="1">Priority</th>
                                <th rowspan="1" colspan="1">Slug</th>
                                <th rowspan="1" colspan="1">Products count</th>
                                <th rowspan="1" colspan="1">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr role="row">
                                <td>{{ category.id }}</td>
                                <td>{{ category.name }}</td>
                                <td>{{ category.enabled ? 'yes' : 'no' }}</td>
                                <td>{{ category.priority }}</td>
                                <td>{{ category.slug }}</td>
                                <td>{{ category.products|length }}</td>
                                <td>
                                    <a class="btn btn-light" href="{{ path('admin_category_edit', { 'slug':category.slug }) }}">Edit</a>
                                    <a class="btn btn-light" href="{{ path('admin_category_delete', { 'slug':category.slug }) }}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-success float-right create-new-btn" href="{{ path('admin_category_new') }}">Create new category</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
