{% set product_chunks = products|batch(3) %}

{% for chunk in product_chunks %}
    <div class="row">
        {% for product in chunk %}
            <div class="col-4 text-center product">
                <div class="text-center">
                    <a href="{{ path('product', {'id': product.id} ) }}">
                        <img class="product-list-image" alt="image" src="{{ asset('/images/products/' ~ product.image) }}">
                    </a>
                </div>
                <div>
                    <a href="{{ path('product', {'id': product.id} ) }}">{{ product.name }}</a>
                </div>
                <div>
                    {{ product.price }}$
                </div>
                <div class="text-center">
                    {% if product.alreadyInCart %}
                        <a class="btn btn-info" href="{{ path('cart_checkout') }}">Already in cart</a>
                    {% else %}
                        <a class="btn btn-danger" href="{{ path('add_to_cart', {'id':product.id}) }}">Add to cart</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <hr>
{% endfor %}
