{% extends 'base_front.html.twig' %}

{% block main %}
    <div class="paragraph">
        Contacts information
    </div>
    <div class="paragraph">
        Maecenas posuere, nulla congue placerat mollis, erat ipsum vulputate velit, eget iaculis augue est vitae nulla. Cras quis aliquam turpis, molestie sodales massa. Proin quis ligula elit. Donec aliquam neque sed quam pulvinar porttitor. Duis id leo orci. Fusce interdum vel sem quis eleifend. Etiam vulputate ipsum risus, vitae auctor metus viverra eleifend. Etiam vestibulum malesuada neque, at euismod nisi sodales ac. Fusce iaculis nulla eget erat mollis tempus. Maecenas vel mattis elit. Proin sollicitudin ante metus, vehicula auctor justo pulvinar eget. Nulla et dignissim nunc. Pellentesque a lectus mollis turpis euismod vestibulum.
    </div>
    <div class="paragraph">
        Mauris ultrices dolor nec nunc ornare, non interdum arcu tincidunt. Aenean tortor enim, luctus a pellentesque ac, vulputate eu purus. Donec viverra, velit eget tristique luctus, purus elit viverra dui, eget auctor tortor metus pretium tortor. Sed vitae semper dolor. Proin blandit urna id felis hendrerit, nec tempor odio dictum. Nullam risus eros, fringilla eget turpis vitae, faucibus scelerisque purus. Sed tellus arcu, vehicula placerat tincidunt non, sodales quis erat. Nunc imperdiet vulputate pretium. Sed a interdum velit, at posuere tellus.
    </div>
{% endblock %}