{% extends 'base_front.html.twig' %}

{% block main %}
    <div class="paragraph">
        Delivery information
    </div>
    <div class="paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consequat dapibus arcu, sodales faucibus nisi suscipit non. Nulla id bibendum turpis, at scelerisque nibh. Sed pellentesque diam nibh, mattis tincidunt turpis ornare sit amet. Mauris auctor, libero at tempor venenatis, metus ipsum auctor odio, ac hendrerit nisl justo et est. Nam eu porta ante. Pellentesque sed massa tristique, consectetur nisi ut, tristique elit. Praesent id leo ultricies, suscipit nisi sollicitudin, aliquam nunc. Pellentesque id venenatis quam. Morbi in quam et metus mollis vestibulum maximus eu arcu. Ut mattis, nisi eget vehicula feugiat, quam mi feugiat sapien, eu malesuada leo turpis sed nisl.
    </div>
    <div class="paragraph">
        Duis at dictum quam. Vestibulum tempor ex at sem dapibus laoreet pretium sit amet ipsum. Vestibulum non tortor nisi. Morbi at ex lectus. Phasellus scelerisque iaculis volutpat. Praesent suscipit tincidunt magna, sed dapibus sapien sagittis nec. Quisque eleifend venenatis ante et euismod. Curabitur et velit semper, rutrum sem et, varius eros. Mauris finibus, mi at pretium fermentum, est est placerat felis, id sodales lacus orci sit amet arcu. Nam sem nunc, feugiat nec lobortis sed, tincidunt eget orci. Vestibulum molestie nisl nec luctus gravida. Morbi non nisi pretium, rhoncus velit non, euismod ex. Phasellus at malesuada odio.
    </div>
{% endblock %}