{% extends 'base_front.html.twig' %}

{% block main %}
    <div class="row product">
        <div class="col-md-4">
            <img class="product-card-image" alt="image" src="{{ asset('/images/products/' ~ product.image) }}">
        </div>
        <div class="col-md-8 product-details">
            <h1>{{ product.name }}</h1>
            <p class="text-justify">{{ product.description }}</p>
            <p>{{ product.price }}$</p>
            {% if product.alreadyInCart %}
                <a class="btn btn-info" href="{{ path('cart_checkout') }}">Already in cart</a>
            {% else %}
                <a class="btn btn-danger" href="{{ path('add_to_cart', {'id':product.id}) }}">Add to cart</a>
            {% endif %}
        </div>
    </div>
    {% if same_category_products %}
        <div>
            Products in the same category:
            {{ include('front/pages/_products.html.twig', {products: same_category_products}) }}
        </div>
    {% endif %}
    {% if other_category_products %}
        <div>
            Other products:
            {{ include('front/pages/_products.html.twig', {products: other_category_products}) }}
        </div>
    {% endif %}
{% endblock %}
