{% extends 'base.html.twig' %}

{% block title %}Admin {{ page_title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('admin_homepage') }}">Admin Homepage</a>
</nav>

<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link {% if 'category' in app.request.get('_route') %}active{% endif %}" href="{{ path('admin_category_list') }}">
                        Categories
                    </a>
                </div>
                <div class="nav">
                    <a class="nav-link {% if 'product' in app.request.get('_route') %}active{% endif %}" href="{{ path('admin_product_list') }}">
                        Products
                    </a>
                </div>
                <div class="nav">
                    <a class="nav-link {% if 'order' in app.request.get('_route') %}active{% endif %}" href="{{ path('admin_order_list') }}">
                        Orders
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                Admin
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="col-lg-8 col-md-8 margin-small">
                {{ include('blocks/flashes.html.twig') }}
            </div>
            <div class="container-fluid">
                <h1 class="mt-4">{{ page_title }}</h1>
                {% block main %}{% endblock %}
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright© IT Coffee shop</div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}
