{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/front.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-1"></div>
        <div  class="col-10">
            <div class="row">
                <div class="col-10">
                    <a href="{{ path('homepage') }}">
                        <img class="logo" src="{{ asset('/images/logo.png') }}">
                    </a>
                </div>
                <div class="col-2 align-items-center">
                    <p class="text-center">
                        {% if no_need_mini_cart is not defined %}
                            {{ render(controller('App\\Controller\\CartController::mini')) }}
                        {% endif %}
                    </p>
                </div>
            </div>

            <nav class="row navbar navbar-light base-navbar">
                <div class="col"><a href="{{ path('homepage') }}">Main</a></div>
                <div class="col"><a href="{{ path('delivery') }}">Delivery</a></div>
                <div class="col"><a href="{{ path('contacts') }}">Contacts</a></div>
                <div class="col">
                    <form class="form-inline" action="{{ path('homepage') }}">
                        <input class="form-control mr-sm-2" minlength="3" name="search" type="search" value="{{ search is defined ? search : null }}">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>

            <div class="row">
                <div class="col-2">
                    <div class="navbar-container bg-light">
                        {{ render(controller('App\\Controller\\PageController::categoryList')) }}
                    </div>
                </div>
                <div class="container col-10">
                    <div class="margin-small">
                        {{ include('blocks/flashes.html.twig') }}
                    </div>
                    {% block main %}
                    {% endblock %}
                </div>
            </div>

            <div class="row justify-content-center">
                &copy; IT Coffee shop
            </div>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}