<div class="row">
    <div class="col-1">
    </div>
    <div class="col-6">
        <form method="post" enctype="multipart/form-data">
            {% if product is defined %}
            <div class="form-group">
                <label for="id">Id</label>
                <input class="form-control" readonly type="text" id="id" value="{{ product.id }}">
            </div>
            {% endif %}

            <div class="form-group">
                <label for="name">Product name</label>
                <input class="form-control" type="text" id="name" name="name" placeholder="Enter product name"
                       value="{{ product is defined ? product.name : '' }}">
            </div>

            <div class="form-group">
                <label for="name">Description</label>
                <textarea
                        class="form-control"
                        type="text"
                        id="description"
                        name="description"
                        placeholder="Enter product description"
                >{{ product is defined ? product.description : '' }}</textarea>
            </div>

            <div class="form-group">
                <label for="name">Price</label>
                <input class="form-control" type="number" id="price" name="price" placeholder="Enter product price"
                       value="{{ product is defined ? product.price : 0 }}">
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="enabled"
                       name="enabled" {{ product is defined ? (product.enabled ? 'checked' : '') : '' }}>
                <label class="form-check-label" for="enabled">Enable</label>
            </div>

            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" name="category">
                    {% for category in categories %}
                    <option
                            {{ product is defined ? (product.category.id == category.id ? 'selected' : '') : '' }}
                            value="{{ category.id }}"
                    >{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>

            {% if product is defined %}
            <div class="mb-3">
                <img alt="image" src="{{ asset('images/products/' ~ product.image) }}">
            </div>
            {% endif %}

            <div class="form-group">
                <label for="file">Select image</label>
                <input type="file" class="form-control-file" id="file" name="file">
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Save</button>
                <a class="btn btn-secondary" href="{{ path('admin_product_list') }}">Back to products list</a>
            </div>
        </form>
    </div>
</div>
