{% extends 'base_admin.html.twig' %}

{% set page_title = 'Product list' %}

{% block main %}
<div class="card-body">
    <div class="table">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-11">
                    <table
                            class="table table-bordered dataTable"
                            id="dataTable"
                            role="grid"
                            aria-describedby="dataTable_info"
                    >
                        <thead>
                        <tr role="row">
                            <th rowspan="1" colspan="1" aria-sort="ascending" >id</th>
                            <th rowspan="1" colspan="1" >Name</th>
                            <th rowspan="1" colspan="1" >Category</th>
                            <th rowspan="1" colspan="1" >Price</th>
                            <th rowspan="1" colspan="1" >Enabled</th>
                            <th rowspan="1" colspan="1" >Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for product in products %}
                            <tr role="row" class="odd">
                                <td>{{ product.id }}</td>
                                <td>{{ product.name }}</td>
                                <td>{{ product.category.name }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.enabled ? 'yes' : 'no' }}</td>
                                <td>
                                    <a class="btn btn-light" href="{{ path('admin_product_edit', {'id': product.id}) }}">Edit</a>
                                    <a class="btn btn-light" href="{{ path('admin_product_delete', {'id': product.id}) }}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <a class="btn btn-success float-right create-new-btn" href="{{ path('admin_product_new') }}">Create new product</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}